<div class="container text-center">
    <% @photos.each_slice(3) do |row| %>
      <div class="row mt-5">
        <% row.each do |photo|  %>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200/300" class="card-img-top" alt="...">
                <h5 class="card-title"><%= photo.caption %></h5>
                <div class="card-body">
                  <%= link_to "Show", show_gallery_photo_path(photo_id: photo.id), class: "btn btn-primary" %>
                </div> <!-- Card body -->
              </div> <!-- Card -->
            </div> <!-- Col -->
        <% end %>
      </div> <!-- Row -->
    <% end %>
</div>
