<div id="<%= dom_id photo %>">
  <p>
    <strong>Caption:</strong>
    <%= photo.caption %>
  </p>

  <p>
    <strong>Like:</strong>
    <%= photo.like %>
  </p>

  <p>
    <strong>Dislike:</strong>
    <%= photo.dislike %>
  </p>

</div>
